*
!*/
!*.*
*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.dhairya
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
*.uvproj
*.s
*.uvgui.*
*.uvopt
*.uvoptx
*.uvprojx
*.TMP (obviously)
*.uvguix.dhairya